h1, h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.tbody {
  padding-top: 1rem;
}

th {
  padding: 0.5rem;
  font-size: 18px;
}

td {
  padding: 0.7rem;
  font-size: 22px;
}

tr {
  text-align: center;
}