<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-xl="6" offset-xl="3">
        <h1 style="text-align: center;">Coming Soon...</h1>
      </ion-col><br><br><br><br>
      <ion-col size="6" offset="3" size-md="4" offset-md="4" size-xl="2" offset-xl="5">
        <img src="/assets/img/clock.png" id="x_image" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
