table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 0.5rem;
  padding-bottom: 12px;
  text-align: center;
  background-color: #3880ff;
  color: white;
}

td {
  padding: 0.3rem;
}

tr {
  text-align: center;
}

th, td {
    border: 1px solid #ddd;
}