<ion-header [translucent]="true">
  <ion-toolbar color="statusbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2">
        <p style="text-align: center;">Check Scrabble words offline! (based on Collins 2019 Scrabble Dictionary). Built with the Ionic Framework (Version 5).</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>