<ion-header [translucent]="true">
  <ion-toolbar color="statusbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2">
        <p style="text-align: center;">This app allows you to verify scrabble words offline (based on Collins 2019 Scrabble Dictionary). It is built with the Ionic Framework (Version 5).</p>
      </ion-col>
      <!-- <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-xl="6" offset-xl="3">
        <ion-item>
          <h1>GitHub Link</h1>
        </ion-item>
        <ion-button href="https://github.com/GidSchwifty/ScrabbleWordChecker" target='_blank' expand="full"
          color="primary" fill="outline" shape="round" size="large">GitHub
          <ion-icon name="open-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>