<ion-header [translucent]="true">
  <ion-toolbar color="statusbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2">
        <p style="text-align: center;">Check Scrabble words offline! (based on Collins 2019 Scrabble Dictionary). Built with the Ionic Framework (Version 5).</p>
        
        <h1 style="text-align: center;">How to use?</h1>
        <p  style="text-align: center;">
          Any player may question the validity of words formed by Player A on Player A's most recent turn.
          <br>
          The challenging player must say 'challenge', after which the words formed by Player A will be checked against the dictionary. (Check Words page).
          <br>
          If any word is not in the dictionary, Player A must remove their tiles from the board and lose their turn. If all words are in the dictionary, the challenging player loses their turn.
          <br>
          Challenging cannot be done if Player A has already drawn and looked at their replacement tiles.
        </p>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>