<ion-toolbar color="statusbar">
  <ion-title>Reorder Players</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)='dismissPopover()'>
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content padding>
  <ion-grid *ngIf="players?.length">
    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-xl="6" offset-xl="3">
        <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
        <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">
          <!-- Default reorder icon, end aligned items -->
          <ion-item *ngFor="let player of players; let i = index">
            <ion-label>
              {{i + 1}}. {{player.name}}
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="full" color="primary" fill="outline" shape="round" size="large" (click)="saveOrder()">Save
  </ion-button>
</ion-content>