<ion-toolbar color="primary">
  <ion-title>Info</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)='dismissPopover()'>
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content padding>
  <p>
    The words used in this app have been checked against: <br><br>
    <ion-item lines="none">
      <ion-img src="assets/img/collins.png" style="background-color:black"></ion-img>
    </ion-item><br>
    <b><i>The Collins Official Scrabble Dictionary 2019</i></b>
    <ion-button href="https://www.collinsdictionary.com/dictionary/english" target='_blank' expand="full" color="primary"
      fill="outline" shape="round" size="large">Link
      <ion-icon name="open-outline" slot="end"></ion-icon>
    </ion-button>
  </p>
</ion-content>