<ion-toolbar>
  <ion-title>Info</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)='dismissPopover()' color='danger'>
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content padding>
  <p>
    This app uses:<br><br>
    <ion-item lines="none">
      <ion-img src="assets/img/collins.png" style="background-color:black"></ion-img>
    </ion-item><br>
    <b><i>The Collins Official Scrabble Dictionary 2019</i></b>
  </p>
</ion-content>